@font-face {
  font-family: "iconfont"; /* Project id 5143350 */
  src: url('iconfont.woff2?t=1774445840356') format('woff2'),
       url('iconfont.woff?t=1774445840356') format('woff'),
       url('iconfont.ttf?t=1774445840356') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cuowu:before {
  content: "\e60a";
}

.icon-biaoqing:before {
  content: "\e60b";
}

.icon-tingyinle:before {
  content: "\e60c";
}

.icon-zanting:before {
  content: "\e610";
}

.icon-quanpingqiehuanxiaoping:before {
  content: "\e6e6";
}

.icon-zanting1:before {
  content: "\e667";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-24gl-fullScreenEnter2:before {
  content: "\ea68";
}

.icon-cuocha_kuai:before {
  content: "\ed1e";
}

.icon-kaishi:before {
  content: "\e611";
}

.icon-gengduo1:before {
  content: "\e8af";
}

.icon-ETL-kaishi:before {
  content: "\e642";
}

.icon-danmu:before {
  content: "\e6de";
}

.icon-qiehuanxiaochuang:before {
  content: "\e6fe";
}

.icon-a-fenxiangweifenxiang:before {
  content: "\e656";
}

.icon-shaohouzaikan:before {
  content: "\e612";
}

.icon-wodedingdan:before {
  content: "\e655";
}

.icon-changjianwenti:before {
  content: "\e6cb";
}

.icon-taiyang:before {
  content: "\e60f";
}

.icon-guankanlishi:before {
  content: "\e60e";
}

.icon-wodekefu:before {
  content: "\e71d";
}

.icon-wodezuopin:before {
  content: "\e60d";
}

.icon-aixin:before {
  content: "\e85c";
}

.icon-yueliang:before {
  content: "\e764";
}

.icon-shaohouzaikan-personal:before {
  content: "\e608";
}

.icon-gexinghuashezhi:before {
  content: "\e8ed";
}

.icon-jianpankuaijiejian:before {
  content: "\e7e2";
}

.icon-AIshezhi:before {
  content: "\e711";
}

.icon-pingtaiAIshezhi:before {
  content: "\e6d0";
}

.icon-AIshezhi1:before {
  content: "\e7b8";
}

.icon-a-AIshezhi:before {
  content: "\e8be";
}

.icon-shoucang-yishoucang:before {
  content: "\e609";
}

.icon-bangzhu:before {
  content: "\e600";
}

.icon-xiazai:before {
  content: "\e601";
}

.icon-fankui:before {
  content: "\e738";
}

.icon-pengyou:before {
  content: "\e746";
}

.icon-tongzhi:before {
  content: "\e759";
}

.icon-sixin:before {
  content: "\e602";
}

.icon-jingxuan:before {
  content: "\e74c";
}

.icon-changjingku:before {
  content: "\e603";
}

.icon-sousuo:before {
  content: "\e86e";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-denglu:before {
  content: "\e67c";
}

.icon-tuijian:before {
  content: "\e657";
}

.icon-zuanshi:before {
  content: "\eaee";
}

.icon-tuijian1:before {
  content: "\e627";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-wodeguanzhu:before {
  content: "\e8bc";
}

.icon-zhibo:before {
  content: "\e8c1";
}

.icon-tougao:before {
  content: "\e636";
}

.icon-dianying:before {
  content: "\e694";
}

.icon-douyin:before {
  content: "\e699";
}

.icon-douyin1:before {
  content: "\e681";
}

.icon-douyin2:before {
  content: "\e604";
}

.icon-gengduo:before {
  content: "\e62e";
}

.icon-douyinzhanghao:before {
  content: "\e605";
}

.icon-xiaoyouxi:before {
  content: "\e606";
}

.icon-bizhi:before {
  content: "\e607";
}

